/* styles.css */

body {
    margin: 0;
    font-family: 'Comfortaa', sans-serif !important;
}

header {
    z-index: 1000; /* Устанавливаем z-index, чтобы верхняя панель была поверх боковой */
}


 /* НАСТРОЙКИ БОКОВОЙ ПАНЕЛИ*/
#sidebar {
    height: 100vh;
    background-color: #6eaa71;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    padding-top: 70px;
    transition: width 0.5s; /* Добавляем плавное изменение ширины */
}

#sidebar .list-group-item {
    background-color: #6eaa71; /* цвет для пунктов в боковой панели */
    color: #1d221c; /* цвет текста в боковой панели */
}

#sidebar .list-group-item:hover {
    background-color: #498651; /*  цвет при наведении */
}

.container.content {
    margin-left: 250px;
    padding: 20px; /* Добавляем отступы в основной контент */
}

#sidebar .sub-list {
    padding-left: 20px; /* Отступ для подсписка */
}


#sidebar .sub-list a {
    color: #2b0b0b; /* Цвет текста в подсписке */
    text-decoration: none; /* Убираем подчеркивание ссылок */
}

#sidebar .sub-list a:hover {
    color: #e4e7e4; /* Цвет текста при наведении в подсписке */
}


/* ВЕРХНЯЯ ПАНЕЛЬ НАВИГАЦИИ */
.navbar {
    background-color: #6eaa71 !important; /* Зеленый цвет для верхней панели навигации */
    border-bottom: 2px solid #2f7b39; /* Темно-зеленая граница снизу */
}

.navbar .nav-link {
    color: #172114 !important; /*  цвет текста для ссылок в верхней панели */
}

.navbar .nav-link:hover {
    color: #d4e7d7 !important; /*  цвет при наведении */
}

/* Добавим стили для иконок в верхней панели навигации */

/* левая иконка*/
#notification-icon {
    font-size: 1.7rem;
    color: #2b0b0b;
    margin-right: 10px; /* отступ для разделения от текста */
}


/* правые иконки*/
.navbar-icons {
    display: flex;
    align-items: center;
    margin-left: auto; /* Это выравнивает иконки справа */
}

.navbar-icon {
    margin-left: 20px; /* Добавляем пространство между иконками */
    font-size: 1.7rem;
    color: #2b0b0b;
    text-decoration: none;
}

.navbar-icon:hover {
    color: #365d36;
}

/* Стили для кнопки поиска */
.navbar-icons .btn-outline-success {
    color: #fff; /* Цвет текста */
    background-color: #3f7642; /* Цвет фона */
    border-color: #6eaa71; /* Цвет границы */
}

.navbar-icons .btn-outline-success:hover {
    color: #fff; /* Цвет текста при наведении */
    background-color: #365f37; /* Цвет фона при наведении */
    border-color: #4e844f; /* Цвет границы при наведении */
}
/* АККОРДИОН  */

#categoryAccordion {
    max-width: 90%; /* Например, максимальная ширина аккордеона в 25% от ширины экрана */
    overflow-x: hidden;
    border-right: 1px solid #2f7b39;
}

/* ЗАМЕТКИ */
.list-group-item {
    max-height: 100px; /* Замените этот параметр на желаемую максимальную высоту */
    overflow-y: auto; /* Добавление вертикальной прокрутки при необходимости */
    word-wrap: break-word; /* Разрыв слов в случае необходимости */
    overflow-wrap: break-word; /* Аналогично для браузеров, поддерживающих стандарт CSS Overflow Wrap */
    white-space: normal; /* Определение как следует разбивать строки внутри элемента */
}

.note-item {
    display: flex; /* Размещаем элементы внутри контейнера в ряд */
    align-items: center; /* Выравниваем элементы по вертикали */
}

.note-item input {
    margin-right: 10px; /* Расстояние между чекбоксом и заметкой */
}

.note-item label {
    flex: 1; /* Растягиваем заметку на всю доступную ширину */
    display: block; /* Размещаем текст заметки на новой строке */
}
