{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Планнер</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/plan.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
</head>

<body>
<!-- Верхняя панель навигации -->
<header class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <i class="fas fa-calendar-check" id="notification-icon"></i>
        <a class="navbar-brand" href="#">ПЛАННЕР ЗАДАЧ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</header>

<!-- Боковая панель для навигации (по умолчанию открыта) -->
<div id="sidebar">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url 'profile' %}">Главная</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'calendar' %}">Планы</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'notes' %}">Задачи</a>
        </li>
    </ul>
</div>

<div class="container mt-5 content">
 <div class="row">
    {% block content %}{% endblock %}
 </div>
</div>



<script>

    function getCategoryColor(category) {
        switch (category) {
            case 'работа':
                return '#e78f95'; //  цвет для работы
            case 'личное':
                return '#82c4dc'; //  цвет для личных дел
            case 'саморазвитие':
                return '#bd98e0'; //  цвет для саморазвития
            case 'здоровье':
                return '#6cceba'; //  цвет для здоровья
            default:
                return '#808080'; //  цвет по умолчанию
        }
    }

   $(document).ready(function () {
       var calendar = $('#calendar').fullCalendar({
           header: {
               left: 'prev,next today',
               center: 'title',
               right: 'month,agendaWeek,agendaDay'
           },
            buttonText: {
               today: 'Сегодня',
               month: 'Месяц',
               week: 'Неделя',
               day: 'День'
           },
           allDayText: 'Весь день',
           locale: 'ru', // Устанавливаем русскую локализацию
           timeFormat: 'H:mm', // Устанавливаем формат времени (24-часовой)

          events: function(start, end, timezone, callback) {
            $.ajax({
                url: '{% url 'all_events' %}',
                dataType: 'json',
                data: {
                    user: '{{ request.user.id }}',
                    start: start.format('YYYY-MM-DD'),
                    end: end.format('YYYY-MM-DD')
                },
                success: function(data) {
                    console.log(data);  // Вывести данные в консоль
                    var events = [];
                    for (var i = 0; i < data.length; i++) {
                        events.push({
                            id: data[i].id,
                            title: data[i].title,
                            start: data[i].start,
                            end: data[i].end,
                            color: getCategoryColor(data[i].category),  // Функция getCategoryColor определит цвет в зависимости от категории
                        });
                    }
                    callback(events);
                },
                error: function(data) {
                    alert('Возникала проблема!');
                }
            });
        },

           selectable: true,
           selectHelper: true,
           editable: true,
           eventLimit: true,


           select: function (start, end, allDay) {
            var title = prompt("Введите название события");
            var category = prompt("Выберите категорию (работа, личное, саморазвитие, здоровье)");

            if (title && category) {
                var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
                var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");

                $.ajax({
                    type: "GET",
                    url: '{% url 'add_event' %}',
                    data: {
                        'title': title,
                        'start': start,
                        'end': end,
                        'category': category,
                        'user': '{{ request.user.id }}'
                    },
                    dataType: "json",
                    success: function (data) {
                        calendar.fullCalendar('refetchEvents');
                    },
                    error: function (data) {
                        alert('Возникла ошибка! Попробуйте еще раз.');
                    }
                });
            }
        },


           eventResize: function (event) {
               var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
               var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
               var title = event.title;
               var id = event.id;
               $.ajax({
                   type: "GET",
                   url: '{% url 'update' %}',
                   data: {'title': title, 'start': start, 'end': end, 'id': id, 'user': '{{ request.user.id }}'},
                   dataType: "json",
                   success: function (data) {
                       calendar.fullCalendar('refetchEvents');
                       //alert('Событие обновлено');
                   },
                   error: function (data) {
                       alert('Возникла ошибка! Попробуйте еще раз.');
                   }
               });
           },

           eventDrop: function (event) {
               var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
               var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
               var title = event.title;
               var id = event.id;
               $.ajax({
                   type: "GET",
                   url: '{% url 'update' %}',
                   data: {'title': title, 'start': start, 'end': end, 'id': id, 'user': '{{ request.user.id }}'},
                   dataType: "json",
                   success: function (data) {
                       calendar.fullCalendar('refetchEvents');
                       //alert('Событие обновлено');
                   },
                   error: function (data) {
                       alert('Возникла ошибка! Попробуйте еще раз.');
                   }
               });
           },

           eventClick: function (event) {
               if (confirm("Уверены,что хотите удалить событие?")) {
                   var id = event.id;
                   $.ajax({
                       type: "GET",
                       url: '{% url 'remove' %}',
                       data: {'id': id, 'user': '{{ request.user.id }}'},
                       dataType: "json",
                       success: function (data) {
                           calendar.fullCalendar('refetchEvents');
                           //alert('Событие удалено');
                       },
                       error: function (data) {
                           alert('Возникла ошибка! Попробуйте еще раз.');
                       }
                   });
               }
           },



       });
   });
</script>


</body>
</html>