{% load static %}
<!DOCTYPE html>
<html lang="ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navmain.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <title>Личный кабинет</title>
</head>
<body>

<!-- Верхняя панель навигации -->
<header class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <i class="fas fa-calendar-check" id="notification-icon"></i>
        <a class="navbar-brand" href="#">ПЛАННЕР ЗАДАЧ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Добро пожаловать, {{ user.username|default:'Guest' }} ! <span class="sr-only">(текущая)</span></a>
                </li>
            </ul>
        </div>

        <!-- Поисковая строка -->
        <div class="navbar-icons">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
            <a href="#" class="navbar-icon"><i class="fas fa-bell"></i></a>
            <a href="#" class="navbar-icon"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
</header>

<!-- Боковая панель для навигации (по умолчанию открыта) -->
<div id="sidebar">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#">Планы</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'notes' %}">Задачи</a>
        </li>
    </ul>
</div>

<!--  контент страницы -->
<div class="container mt-5 content">
    <!-- Кнопка для вызова модального окна -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
        Добавить новую категорию задач
    </button>

   <!-- Место для отображения списка категорий -->
<div class="accordion" id="categoryAccordion">
    {% for category in categories %}
        <div class="card">
            <div class="card-header" id="categoryHeading{{ category.id }}">
                <div class="d-flex">
                    <!-- Перемещенные кнопки -->
                    <button type="button" class="btn btn-warning btn-sm me-2" data-bs-toggle="modal" data-bs-target="#editCategoryModal{{ category.id }}">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteCategoryModal{{ category.id }}">
                        <i class="fas fa-trash"></i>
                    </button>

                    <!-- Название категории -->
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#categoryCollapse{{ category.id }}" aria-expanded="true" aria-controls="categoryCollapse{{ category.id }}">
                            {{ category.name }}
                        </button>
                    </h2>
                </div>
            </div>

            <div id="categoryCollapse{{ category.id }}" class="collapse show" aria-labelledby="categoryHeading{{ category.id }}" data-bs-parent="#categoryAccordion">
                <div class="card-body">
                    <!-- Кнопка "Добавить задачу" -->
                    <button type="button" class="btn btn-primary btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#addNoteModal{{ category.id }}">
                        Добавить задачу
                    </button>

         <!-- Место для отображения списка задач -->
                    <ul id="noteList{{ category.id }}" class="list-group mt-3">
    {% for note in category.note_set.all %}
        <li class="list-group-item d-flex justify-content-between align-items-center" id="noteItem{{ note.id }}">
            <div>
                <input type="checkbox" id="noteCheckbox{{ note.id }}" name="noteCheckbox{{ note.id }}" {% if note.is_completed %}checked{% endif %}>
                <label for="noteCheckbox{{ note.id }}" class="note-label {% if note.is_completed %}completed{% endif %}">
                    {{ note.text | linebreaks }}
                </label>
            </div>
            <div class="d-flex">
                <button type="button" class="btn btn-warning btn-sm me-2" data-bs-toggle="modal" data-bs-target="#editNoteModal{{ note.id }}">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteNoteModal{{ note.id }}">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </li>


                            <!-- Модальное окно для редактирования задач -->
                            <div class="modal fade" id="editNoteModal{{ note.id }}" tabindex="-1" aria-labelledby="editNoteModalLabel{{ note.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editNoteModalLabel{{ note.id }}">Редактировать задачу</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Форма редактирования задач -->
                                            <form id="editNoteForm{{ note.id }}">
                                                <div class="mb-3">
                                                    <label for="editNoteText{{ note.id }}" class="form-label">Новый текст:</label>
                                                    <textarea class="form-control" id="editNoteText{{ note.id }}" name="editNoteText" rows="4" required>{{ note.text }}</textarea>
                                                </div>
                                                <button type="submit" class="btn btn-warning">Сохранить изменения</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Модальное окно для подтверждения удаления задач -->
                            <div class="modal fade" id="deleteNoteModal{{ note.id }}" tabindex="-1" aria-labelledby="deleteNoteModalLabel{{ note.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteNoteModalLabel{{ note.id }}">Удалить задачу</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Вы уверены, что хотите удалить эту задачу?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                            <button type="button" class="btn btn-danger" id="deleteNoteBtn{{ note.id }}">Удалить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>


                    <!-- Модальное окно для ввода текста задач -->
                    <div class="modal fade" id="addNoteModal{{ category.id }}" tabindex="-1" aria-labelledby="addNoteModalLabel{{ category.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addNoteModalLabel{{ category.id }}">Добавить задачу</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="addNoteForm{{ category.id }}">
                                        <div class="mb-3">
                                            <label for="noteText{{ category.id }}" class="form-label">Текст:</label>
                                            <textarea class="form-control" id="noteText{{ category.id }}" name="noteText" rows="4" required></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Добавить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        <!-- Модальное окно для редактирования категории -->
            <div class="modal fade" id="editCategoryModal{{ category.id }}" tabindex="-1" aria-labelledby="editCategoryModalLabel{{ category.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editCategoryModalLabel{{ category.id }}">Редактировать категорию</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Форма редактирования категории -->
                            <form id="editCategoryForm{{ category.id }}">
                                <div class="mb-3">
                                    <label for="editCategoryName{{ category.id }}" class="form-label">Новое название категории:</label>
                                    <input type="text" class="form-control" id="editCategoryName{{ category.id }}" name="editCategoryName" value="{{ category.name }}" required>
                                </div>
                                <button type="submit" class="btn btn-warning">Сохранить изменения</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Модальное окно для подтверждения удаления категории -->
            <div class="modal fade" id="deleteCategoryModal{{ category.id }}" tabindex="-1" aria-labelledby="deleteCategoryModalLabel{{ category.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteCategoryModalLabel{{ category.id }}">Удалить категорию</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Вы уверены, что хотите удалить категорию "{{ category.name }}"? Все задачи в этой категории также будут удалены.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <button type="button" class="btn btn-danger" id="deleteCategoryBtn{{ category.id }}">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>
   {% endfor %}
</div>


</div>

<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCategoryModalLabel">Добавить новую категорию задач</h5>
                <!-- Замените data-dismiss на data-bs-dismiss здесь -->
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addCategoryForm">
                    <div class="mb-3">
                        <label for="categoryName" class="form-label">Название категории:</label>
                        <input type="text" class="form-control" id="categoryName" name="categoryName" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Подключение необходимых скриптов для Bootstrap 5 -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'js/scripts.js' %}"></script>

                                    <!-- РАБОТА С КАТЕГОРИЯМИ -->
<!-- ДОБАВЛЕНИЕ КАТЕГОРИЙ -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('addCategoryForm').addEventListener('submit', function (event) {
            event.preventDefault();

            const categoryName = document.getElementById('categoryName').value;

            $.ajax({
                type: 'POST',
                url: '{% url "add_category" %}',
                dataType: 'json',
                contentType: 'application/json',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: JSON.stringify({ name: categoryName }),
                success: function(data) {
                    updateCategoryList(data);

                    // Закрываем модальное окно
                    const modal = new bootstrap.Modal(document.getElementById('addCategoryModal'));
                    modal.hide();

                    // Перезагружаем страницу
                    location.reload();
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });
        });

        // Ваша функция обновления списка категорий
        function updateCategoryList(categoryData) {
            const categoryList = document.getElementById('categoryAccordion');

            // Создаем новый элемент для категории
            const newCategoryItem = document.createElement('div');
            newCategoryItem.className = 'card';

            newCategoryItem.innerHTML = `
                <div class="card-header d-flex align-items-center" id="categoryHeading${categoryData.id}">
                    <!-- Перемещенные кнопки -->
                    <button type="button" class="btn btn-warning btn-sm me-2" data-bs-toggle="modal" data-bs-target="#editCategoryModal${categoryData.id}">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteCategoryModal${categoryData.id}">
                        <i class="fas fa-trash"></i>
                    </button>

                    <!-- Название категории -->
                    <h2 class="mb-0 ms-2">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#categoryCollapse${categoryData.id}" aria-expanded="true" aria-controls="categoryCollapse${categoryData.id}">
                            ${categoryData.name}
                        </button>
                    </h2>
                </div>
                <div id="categoryCollapse${categoryData.id}" class="collapse show" aria-labelledby="categoryHeading${categoryData.id}" data-bs-parent="#categoryAccordion">
                    <div class="card-body">
                        <!-- Кнопка "Добавить задачу" -->
                        <button type="button" class="btn btn-primary btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#addNoteModal${categoryData.id}">
                            Добавить задачу
                        </button>

                        <!-- Место для отображения списка задач -->
                        <ul id="noteList${categoryData.id}" class="list-group mt-3"></ul>

                        <!-- Модальное окно для ввода текста задач -->
                        <div class="modal fade" id="addNoteModal${categoryData.id}" tabindex="-1" aria-labelledby="addNoteModalLabel${categoryData.id}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addNoteModalLabel${categoryData.id}">Добавить задачу</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="addNoteForm${categoryData.id}">
                                            <div class="mb-3">
                                                <label for="noteText${categoryData.id}" class="form-label">Текст задачи:</label>
                                                <textarea class="form-control" id="noteText${categoryData.id}" name="noteText" rows="4" required></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Добавить</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            `;

            categoryList.appendChild(newCategoryItem);

            // Явно вызываем метод инициализации аккордеона
            var myAccordion = new bootstrap.Collapse(newCategoryItem.querySelector('.collapse'));
        }
    });
</script>


<!-- РЕДАКТИРОВАНИЕ КАТЕГОРИЙ -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% for category in categories %}
            document.getElementById('editCategoryForm{{ category.id }}').addEventListener('submit', function (event) {
                event.preventDefault();

                const newCategoryName = document.getElementById('editCategoryName{{ category.id }}').value;

                $.ajax({
                    type: 'POST',
                    url: '{% url "edit_category" %}',
                    dataType: 'json',
                    contentType: 'application/json',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    data: JSON.stringify({
                        category_id: {{ category.id }},
                        new_name: newCategoryName
                    }),
                    success: function (data) {
                        // Обновить текст названия категории вручную
                        const categoryHeading = document.querySelector(`#categoryHeading{{ category.id }} h2 button`);
                        categoryHeading.textContent = newCategoryName;

                        // Закрыть модальное окно
                        const modal = new bootstrap.Modal(document.getElementById(`editCategoryModal{{ category.id }}`));
                        modal.hide();

                        // Перезагрузить страницу
                        location.reload();
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });

                return false; // Предотвращаем стандартное поведение формы
            });
        {% endfor %}
    });
</script>



<!-- УДАЛЕНИЕ КАТЕГОРИЙ -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% for category in categories %}
            document.getElementById('deleteCategoryBtn{{ category.id }}').addEventListener('click', function () {
                // Определяем ID категории, которую нужно удалить
                const categoryId = {{ category.id }};

                // Отправляем запрос на удаление категории
                $.ajax({
                    type: 'POST',
                    url: '{% url "delete_category" %}',
                    dataType: 'json',
                    contentType: 'application/json',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    data: JSON.stringify({
                        category_id: categoryId
                    }),
                    success: function (data) {
                        // Удалить раздел аккордеона с анимацией Bootstrap
                        const collapseElement = document.querySelector(`#categoryCollapse{{ category.id }}`);
                        const parentCard = collapseElement.closest('.card');

                        const collapse = new bootstrap.Collapse(collapseElement, { toggle: false });
                        collapse.hide();

                        // Удалить карточку (раздел) из DOM после завершения анимации скрытия
                        collapseElement.addEventListener('hidden.bs.collapse', function () {
                            parentCard.remove();
                            // Динамически перезагрузить страницу
                            location.reload();
                        });

                        // Скрыть связанное с категорией модальное окно
                        const modal = new bootstrap.Modal(document.getElementById(`deleteCategoryModal{{ category.id }}`));
                        modal.hide();
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            });
        {% endfor %}
    });
</script>




                                        <!-- РАБОТА С ЗАДАЧАМИ -->
   <!-- ДОБАВЛЕНИЕ задач -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% for category in categories %}
            document.getElementById('addNoteForm{{ category.id }}').addEventListener('submit', function (event) {
                event.preventDefault();

                const noteText = document.getElementById('noteText{{ category.id }}').value;

                $.ajax({
                    type: 'POST',
                    url: '{% url "add_note" %}',
                    dataType: 'json',
                    contentType: 'application/json',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    data: JSON.stringify({
                        category_id: {{ category.id }},
                        text: noteText
                    }),
                    success: function(data) {
                        // Создаем новый элемент для задачи
                        const noteList = document.getElementById('noteList{{ category.id }}');
                        const newNoteItem = document.createElement('li');
                        newNoteItem.className = 'list-group-item d-flex justify-content-between align-items-center';
                        newNoteItem.innerHTML = `
                            <div>
                                <input type="checkbox" id="noteCheckbox${data.id}" name="noteCheckbox${data.id}" ${data.is_completed ? 'checked' : ''}>
                                <label for="noteCheckbox${data.id}" class="note-label">${data.text}</label>
                            </div>
                            <div class="d-flex">
                                <button type="button" class="btn btn-warning btn-sm me-2" data-bs-toggle="modal" data-bs-target="#editNoteModal${data.id}">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteNoteModal${data.id}">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        `;
                        noteList.appendChild(newNoteItem);

                        // Закрываем модальное окно
                        const modal = new bootstrap.Modal(document.getElementById('addNoteModal{{ category.id }}'));
                        modal.hide();

                        // Перезагружаем страницу
                        location.reload();
                    },
                    error: function(error) {
                        console.error('Error:', error);
                    }
                });
            });

            // Обработчик изменения состояния чекбокса
            document.getElementById('noteList{{ category.id }}').addEventListener('change', function(event) {
                const checkbox = event.target;
                if (checkbox.type === 'checkbox') {
                    const noteId = checkbox.id.replace('noteCheckbox', '');
                    const isCompleted = checkbox.checked;

                    // Отправляем запрос на обновление состояния задач
                    $.ajax({
                        type: 'POST',
                        url: '{% url "update_note" %}',
                        dataType: 'json',
                        contentType: 'application/json',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        data: JSON.stringify({
                            note_id: noteId,
                            is_completed: isCompleted
                        }),
                        success: function(data) {
                            // Находим элемент <label> для задач
                            const noteLabel = document.querySelector(`label[for="noteCheckbox${noteId}"]`);

                            // Добавляем или удаляем класс completed в зависимости от состояния чекбокса
                            if (isCompleted) {
                                noteLabel.classList.add('completed');
                            } else {
                                noteLabel.classList.remove('completed');
                            }
                        },
                        error: function(error) {
                            console.error('Error:', error);
                        }
                    });
                }
            });
        {% endfor %}
    });

</script>


<!-- РЕДАКТИРОВАНИЕ задач -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% for category in categories %}
            {% for note in category.note_set.all %}
                document.getElementById('editNoteForm{{ note.id }}').addEventListener('submit', function (event) {
                    event.preventDefault();

                    const newNoteText = document.getElementById('editNoteText{{ note.id }}').value;

                    $.ajax({
                        type: 'POST',
                        url: '{% url "edit_note" %}',
                        dataType: 'json',
                        contentType: 'application/json',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        data: JSON.stringify({
                            note_id: {{ note.id }},
                            new_text: newNoteText
                        }),
                        success: function (data) {
                            // Обновить текст задач на странице
                            const noteLabel = document.querySelector(`label[for="noteCheckbox${data.id}"]`);
                            noteLabel.textContent = newNoteText;

                            // Закрыть модальное окно
                            const modal = new bootstrap.Modal(document.getElementById('editNoteModal{{ note.id }}'));
                            modal.hide();

                            // Перезагрузить страницу
                            location.reload();
                        },
                        error: function (error) {
                            console.error('Error:', error);
                        }
                    });
                });
            {% endfor %}
        {% endfor %}
    });
</script>


<!-- УДАЛЕНИЕ задач -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% for category in categories %}
            {% for note in category.note_set.all %}
                document.getElementById('deleteNoteBtn{{ note.id }}').addEventListener('click', function () {
                    const noteId = {{ note.id }};

                    $.ajax({
                        type: 'POST',
                        url: '{% url "delete_note" %}',
                        dataType: 'json',
                        contentType: 'application/json',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        data: JSON.stringify({
                            note_id: noteId
                        }),
                        success: function (data) {
                            // Перезагрузить страницу после успешного удаления задач
                            location.reload();
                        },
                        error: function (error) {
                            console.error('Error:', error);
                        }
                    });
                });
            {% endfor %}
        {% endfor %}
    });
</script>


</body>
</html>