/* шрифт Tektur */
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

body {
  font-family: 'Tektur', sans-serif !important;
  font-size: 17px;
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #dfe9f4;
}

.container {
  display: flex;
  max-width: 600px; /* Задаем максимальную ширину контейнера */
  margin: 0 auto;
  border-radius: 5px; /* Закругленные края */
  overflow: hidden; /* Добавляем overflow: hidden, чтобы изображение не выходило за пределы контейнера */
  border: 2px solid #c8d9e0; /* Добавляем границу для контейнера */
}

.left-image {
  flex: 1;
  overflow: hidden; /* Добавляем overflow: hidden, чтобы изображение не выходило за пределы левой части контейнера */
}

.left-image img {
  width: 100%;
  height: 100%; /* Используем 100% высоты для изображения */
  object-fit: cover; /* Заполняем контейнер, сохраняя пропорции и обрезая изображение по необходимости */
}

.right-content {
  flex: 1;
  padding: 20px;
  text-align: center;
  background-color: #f5f7fc;
}

.right-content h2 {
  color: #050505;
  margin-top: 0;
}

.right-content form {
  margin-top: 20px;
}

.right-content input[type="text"],
.right-content input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}


.right-content input[type="submit"] {
  margin-top: 20px;
  background-color: #0b106f; /* Голубой цвет фона кнопки */
  color: #fff; /* Белый цвет текста кнопки */
  padding: 15px 30px;
  border: none;
  border-radius: 10px; /* Закругленные края */
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Comfortaa', sans-serif;
  font-size: 14px;
}

.right-content input[type="submit"]:hover {
  background-color: #0309a4; /* Цвет фона при наведении */
}