{% load static %}
<link rel="stylesheet" href="{% static 'css/log.css' %}">

{% block content %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
  </head>
  <div class="container">
    <div class="left-image">
      <img src="https://i.pinimg.com/736x/08/47/a7/0847a71bf1256e287518a304b533c3b0.jpg" alt="Left Image">
    </div>

    <div class="right-content">
      <h2>Вход</h2>
      <form method="post">
        {% csrf_token %}
        <div class="form-fields">
          {{ form.as_p }}
        </div>
        <div class="submit-button">
          <input type="submit" value="Войти" class="custom-button">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
