{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/stylemain.css' %}">
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  
  <title>Главная</title>
</head>
<body>

  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" style="font-size: 27px;">
         <i class="fas fa-calendar-check" style="font-size: 27px; color: 6eaa71;"></i>
        ПЛАНИРОВЩИК ЗАДАЧ
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse"></div>
  </nav>

  <!-- КАРУСЕЛЬ-->
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.pinimg.com/564x/6f/c7/ef/6fc7ef0e49326a1e76ac2ed9307320be.jpg" class="d-block w-100" alt="First slide">
        <div class="carousel-caption">
          <h1>Эффективный тайм-менеджмент:</h1>
          <p>сделайте каждую минуту значимой</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/564x/6f/c7/ef/6fc7ef0e49326a1e76ac2ed9307320be.jpg" class="d-block w-100" alt="Second slide">
        <div class="carousel-caption">
          <h1>Управляйте своим днем с удовольствием:</h1>
          <p>наше приложение сделает это простым</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/564x/6f/c7/ef/6fc7ef0e49326a1e76ac2ed9307320be.jpg" class="d-block w-100" alt="Third slide">
        <div class="carousel-caption">
          <h1>Легко и эффективно:</h1>
          <p>ваш личный помощник в достижении целей</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- КОНТЕЙНЕР  -->
  <div class="why-us-container">
    <a href="{% url 'signup' %}" class="btn btn-primary oval-btn">Зарагестрироваться / Войти</a>
    <h2>Почему это удобно?</h2>
  </div>

   <!-- КОНТЕЙНЕР С ДОСТОИНСТВАМИ -->
  <div class="row d-flex justify-content-center align-items-stretch">
    <div class="col-12 col-md-4">
      <div class="custom-container">
        <i class="fas fa-cogs fa-5x"></i>
        <h2 class="featurette-heading">Организация и управление</h2>
        <p class="lead">Простое и удобное добавление, редактирование и удаление задач с возможностью создания категорий для максимальной организации.  Процесс управления вашими делами стал еще более гибким и интуитивно понятным.</p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="custom-container">
        <i class="fas fa-calendar-alt fa-5x"></i>
        <h2 class="featurette-heading">Эффективное планирование</h2>
        <p class="lead">Установка сроков и интеграция с календарем в разделе планирования обеспечивают удобное управление задачами. Система категорий событий дает ясное представление о предстоящих событиях, помогая легко ориентироваться в планах.</p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="custom-container">
        <i class="fas fa-heart fa-5x"></i>
        <h2 class="featurette-heading">Поддержка и мотивация</h2>
        <p class="lead">Система уведомлений напоминает о важных событиях, а мотивационные сообщения и советы по распределению времени поддерживают вас в достижении поставленных целей.</p>
      </div>
    </div>
  </div>

  <!-- НИЗ СТРАНИЦЫ -->
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="https://unpkg.com/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
  <footer>
    <p>ВКР 2024 Соловых Мария</p>
  </footer>
</body>
</html>
